/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #6F0752; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24071c;
  outline: 1px solid slategrey; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px black; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none; }

a {
  color: #ff0;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

button {
  cursor: pointer;
  text-transform: uppercase; }

#sections-container {
  display: none; }

.d-none {
  display: none; }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2; }

#vignette {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  box-shadow: 0 0 500px black inset; }

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  /* TODO Solve this in HTML */ }

a, button, input, select {
  pointer-events: auto; }

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important;
  /* TODO Solve this in HTML */ }

#overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #000000;
  color: #ffffff; }

#overlay > div {
  text-align: center; }

#overlay > div > button {
  height: 20px;
  background: transparent;
  color: #ffffff;
  outline: 1px solid #ffffff;
  border: 0px;
  cursor: pointer; }

#overlay > div > p {
  color: #777777;
  font-size: 12px; }

#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 1s opacity; }

#loading-screen.fade-out {
  opacity: 0; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

.progress {
  background-color: #111111;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55vh;
  height: 3px; }

.progress-bar {
  background-color: #FF00FF; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
.home-headline {
  position: relative;
  left: 50px;
  overflow: hidden; }

.home-headline h1 {
  font-family: "Anton", sans-serif !important;
  font-size: 8em !important; }

.home-headline h2 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3.6em;
  color: #6c757d; }

.secondary-color {
  color: #660000 !important; }

.company-type {
  font-size: 2em;
  color: #FFFFFF;
  font-family: "Julius Sans One", sans-serif; }

section {
  /*height: 100vh;*/
  min-height: 100vh; }

section h1 {
  font-family: "Anton", sans-serif;
  font-size: 4em; }

section h2 {
  font-family: "Anton", sans-serif;
  font-size: 3em; }

section h3 {
  font-family: "Julius Sans One", sans-serif; }

#launch {
  position: relative;
  overflow: hidden;
  min-height: 100vh; }

#about {
  /*height: 100vh;*/
  min-height: 100vh;
  padding-top: 25vh; }

.team-list {
  text-align: center; }

.team-list {
  margin-top: 20px; }

.h-slider {
  overflow: hidden; }

#about .container {
  margin-bottom: 50px; }

#about-description p {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5em; }

#about-hdl-01 {
  opacity: 0;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  display: block;
  line-height: 40px; }

#about-hdl-01 small {
  font-size: 13px;
  font-family: "Julius Sans One", sans-serif;
  display: block;
  line-height: 20px; }

#web-service {
  height: 100vh;
  padding-top: 25vh; }

.web-hdl {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5em; }

.web-infos {
  position: relative;
  text-align: justify;
  background-color: rgba(35, 36, 39, 0.8);
  border: 4px solid white;
  padding: 10px;
  border-radius: 10px; }

.web-infos:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.web-infos:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #232427;
  border-width: 30px;
  margin-left: -30px; }

.web-infos:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: white;
  border-width: 36px;
  margin-left: -36px; }

.overlay {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #f5576c 0%, #f093fb 100%);
  transform-origin: left;
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  transform: scaleX(0); }

.overlay-animating {
  transform: scaleX(1); }

.overlay-animating-out {
  transform: scaleX(0); }

.overlay .overlay-container {
  margin-top: 10vh; }

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

@media screen and (max-width: 576px) {
  .home-headline h1 {
    font-size: 4em !important;
    left: 25px; }

  .home-headline h2 {
    font-size: 1.8em; }

  .company-type {
    font-size: 1em; }

  #web-service {
    padding-top: 10vh; } }

/*# sourceMappingURL=main.css.map */
