body.new-actions,
body.edit-actions {
    .actionsBrands {
        label{
            display: none;
        }
        .field-collection-item-row {
            position: relative;
            max-width: 330px;
            .form-widget-compound {
                display: inline-block;
                width: 100%;
                .form-group {
                    display: inline-block;
                    padding-bottom: 0;
                    &.field-entity {
                        width: 75%;
                    }
                    &.field-integer {
                        width: 23%;
                        input {
                            min-width: 45px;
                        }
                    }
                }
            }
            a.field-collection-item-action {
                position: absolute;
                right: -20px;
                top: 0;
            }
        }
    }
    .stepsType {
        .card {
            margin-bottom: 10px;
        }
        .field-steps {
            a.field-collection-item-action {
                position: absolute;
                right: 10px;
            }
            .form-group.field-a2lix_translations,
            .form-group.field-choice,
            .form-group.field-auto_form,
            .form-group.field-text,
            .form-group.field-file,
            .form-group.field-rewards {
                padding-right: 0;
            }
            .field-text,
            .field-choice,
            .field-file,
            .field-integer {
                .form-widget {
                    flex: 0 0 55%;
                }
            }
        }
    }
    .TranslationsType {
        #actions_translations > div {
            display: inline-block;
            padding: 0;
            max-width: 49%;

            legend.col-form-label {
                font-weight: bold;
                text-align: left;
            }
            #actions_translations_nl,
            #actions_translations_fr {
                > .form-group {
                    padding-right: 10px;
                }
                label {
                    min-width: 100%;
                    text-align: left;
                }
            }
            #actions_translations_nl label {
                opacity: 0;
            }
        }
    }
}