body.new-actions .actionsBrands label,
body.edit-actions .actionsBrands label {
  display: none; }

body.new-actions .actionsBrands .field-collection-item-row,
body.edit-actions .actionsBrands .field-collection-item-row {
  position: relative;
  max-width: 330px; }
  body.new-actions .actionsBrands .field-collection-item-row .form-widget-compound,
  body.edit-actions .actionsBrands .field-collection-item-row .form-widget-compound {
    display: inline-block;
    width: 100%; }
    body.new-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group,
    body.edit-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group {
      display: inline-block;
      padding-bottom: 0; }
      body.new-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group.field-entity,
      body.edit-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group.field-entity {
        width: 75%; }
      body.new-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group.field-integer,
      body.edit-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group.field-integer {
        width: 23%; }
        body.new-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group.field-integer input,
        body.edit-actions .actionsBrands .field-collection-item-row .form-widget-compound .form-group.field-integer input {
          min-width: 45px; }
  body.new-actions .actionsBrands .field-collection-item-row a.field-collection-item-action,
  body.edit-actions .actionsBrands .field-collection-item-row a.field-collection-item-action {
    position: absolute;
    right: -20px;
    top: 0; }

body.new-actions .stepsType .card,
body.edit-actions .stepsType .card {
  margin-bottom: 10px; }

body.new-actions .stepsType .field-steps a.field-collection-item-action,
body.edit-actions .stepsType .field-steps a.field-collection-item-action {
  position: absolute;
  right: 10px; }

body.new-actions .stepsType .field-steps .form-group.field-a2lix_translations,
body.new-actions .stepsType .field-steps .form-group.field-choice,
body.new-actions .stepsType .field-steps .form-group.field-auto_form,
body.new-actions .stepsType .field-steps .form-group.field-text,
body.new-actions .stepsType .field-steps .form-group.field-file,
body.new-actions .stepsType .field-steps .form-group.field-rewards,
body.edit-actions .stepsType .field-steps .form-group.field-a2lix_translations,
body.edit-actions .stepsType .field-steps .form-group.field-choice,
body.edit-actions .stepsType .field-steps .form-group.field-auto_form,
body.edit-actions .stepsType .field-steps .form-group.field-text,
body.edit-actions .stepsType .field-steps .form-group.field-file,
body.edit-actions .stepsType .field-steps .form-group.field-rewards {
  padding-right: 0; }

body.new-actions .stepsType .field-steps .field-text .form-widget,
body.new-actions .stepsType .field-steps .field-choice .form-widget,
body.new-actions .stepsType .field-steps .field-file .form-widget,
body.new-actions .stepsType .field-steps .field-integer .form-widget,
body.edit-actions .stepsType .field-steps .field-text .form-widget,
body.edit-actions .stepsType .field-steps .field-choice .form-widget,
body.edit-actions .stepsType .field-steps .field-file .form-widget,
body.edit-actions .stepsType .field-steps .field-integer .form-widget {
  flex: 0 0 55%; }

body.new-actions .TranslationsType #actions_translations > div,
body.edit-actions .TranslationsType #actions_translations > div {
  display: inline-block;
  padding: 0;
  max-width: 49%; }
  body.new-actions .TranslationsType #actions_translations > div legend.col-form-label,
  body.edit-actions .TranslationsType #actions_translations > div legend.col-form-label {
    font-weight: bold;
    text-align: left; }
  body.new-actions .TranslationsType #actions_translations > div #actions_translations_nl > .form-group,
  body.new-actions .TranslationsType #actions_translations > div #actions_translations_fr > .form-group,
  body.edit-actions .TranslationsType #actions_translations > div #actions_translations_nl > .form-group,
  body.edit-actions .TranslationsType #actions_translations > div #actions_translations_fr > .form-group {
    padding-right: 10px; }
  body.new-actions .TranslationsType #actions_translations > div #actions_translations_nl label,
  body.new-actions .TranslationsType #actions_translations > div #actions_translations_fr label,
  body.edit-actions .TranslationsType #actions_translations > div #actions_translations_nl label,
  body.edit-actions .TranslationsType #actions_translations > div #actions_translations_fr label {
    min-width: 100%;
    text-align: left; }
  body.new-actions .TranslationsType #actions_translations > div #actions_translations_nl label,
  body.edit-actions .TranslationsType #actions_translations > div #actions_translations_nl label {
    opacity: 0; }
