<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="{% block title %}AfxLab - Digital agency{% endblock %}">
    <meta property="og:image" content="/images/social-image.jpg">
    <meta property="og:description" content="Web developement - 3D - Video - Drone">
    <meta property='og:url' content='http;//www.absolute-fx.com' />
    {% block stylesheets %}
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Fredoka+One|Julius+Sans+One&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="./css/main.css">
    {% endblock %}
    <title>Absolute FX</title>
</head>
<body class="d-flex flex-column h-100">
<section id="loading-screen">
    <div id="loader"></div>
    <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
</section>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top invisible ">
        <a class="navbar-brand" href="#">AFXLAB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="main-menu">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active invisible" id="home-btn" data-href="#launch" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link invisible" id="about-btn" data-href="#about" data-sm="1" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link invisible" id="web-btn" data-href="#web-service" href="#">Web</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link invisible" id="3d-btn" data-href="#3d-service" href="#">3D</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link invisible" id="video-btn" data-href="#video-service" href="#">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link invisible" id="drone-btn" data-href="#drone-service" href="#">Drone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link invisible" id="portfolio-btn" data-href="#portfolio" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link invisible" id="contact-btn" data-href="#contact" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="sections-container">
    {% block body %}
    <section id="launch">
        <div class="home-headline">
            <h1>WE JUST MAKE YOU STRONGER</h1>
            <p class="company-type"># DIGITAL PRODUCTION AGENCY</p>
            <h2><span class="secondary-color">_</span>WEB DEV <span class="secondary-color">_</span>3D <span class="secondary-color">_</span>VIDEO <span class="secondary-color">_</span>DRONE</h2>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-4">
                    <h1>What about us?</h1>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-3">
                    <div id="about-description">
                        <p>AfxLab is a multidisciplinary creative agency at the intersection of art, design and technology.</p>
                    </div>
                    <div id="about-hdl-01">"Creativity is just connecting things"<small>Steve Jobs</small></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Our team</h2>
                </div>
            </div>
            <div class="team-list">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-6">
                        <h3>Fabrice</h3>
                        <img src="./images/avatar-fabrice.jpg" class="rounded-circle img-fluid" alt="Fabrice">
                        <div class="team-post">Backend developer / analyst</div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6">
                        <h3>Manu</h3>
                        <img src="./images/avatar-manu.jpg" class="rounded-circle img-fluid" alt="Manu">
                        <div class="team-post">Frontend developer / 3D</div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6">
                        <h3>Hélène</h3>
                        <img src="./images/avatar-helene.jpg" class="rounded-circle img-fluid" alt="Hélène">
                        <div class="team-post">UI/UX Designer Prepress designer</div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6">
                        <h3>Damien</h3>
                        <img src="./images/avatar-damien.jpg" class="rounded-circle img-fluid" alt="Damien">
                        <div class="team-post">Designer illustrator Animator</div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6">
                        <h3>Quentin</h3>
                        <img src="./images/avatar-quentin.jpg" class="rounded-circle img-fluid" alt="Quentin">
                        <div class="team-post">Video operator</div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6">
                        <h3>Amir</h3>
                        <img src="./images/avatar-amir.jpg" class="rounded-circle img-fluid" alt="Amir">
                        <div class="team-post">Drone pilot</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="web-service" class="d-none">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    <h2>Web development</h2>
                    <div class="web-hdl">
                        <p>We know which doors have to be unlocked to make your project smarter</p>
                    </div>
                    <div class="web-infos">Creative, corporate, functional? Is that the way you want your website to be? <stong>AfxLab</stong> is a partner of choice to make your business grow. With our 20 years of experience in the web industry, we always offer to our clients the best technology that meets their needs. <button type="button" class="btn btn-primary btn-sm" id="web-overlay-btn">More infos</button></div>
                </div>
            </div>
        </div>
    </section>
    <section id="3d-service" class="d-none">

    </section>
    <section id="video-service" class="d-none">

    </section>
    <section id="drone-service" class="d-none">

    </section>
    <section id="portfolio" class="d-none">

    </section>
    <section id="contact" class="d-none">

    </section>
    {% endblock %}
</div>
<div id="vignette"></div>
<div class="overlay">
    <a href="#" class="close"></a>
    <div class="overlay-container"></div>
</div>

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/modernizr.custom.min.js"></script>
<script type="module" src="./js/3d-scene.js"></script>
<script type="text/javascript" src="./js/gsap.min.js"></script>
<script type="text/javascript" src="./js/ScrollMagic.min.js"></script>
<script type="text/javascript" src="./js/sm-plugins/animation.gsap.min.js"></script>
<script type="text/javascript" src="./js/sm-plugins/debug.addIndicators.min.js"></script>
<script type="text/javascript" src="./js/layout.js"></script>
{% endblock %}
</body>
</html>