input[type="radio"],
input[type="checkbox"]{
    display: inline-block
}

input[type="radio"] + label,
input[type="checkbox"] + label{
    display: inline;
}

input[type="radio"] + label span,
input[type="checkbox"] + label span{
    background-image: none;
    padding: 0;
    display: inline;
    height: auto;
    cursor: inherit
}