{% extends 'layouts/overlay.html.twig'%}

{% block body %}
    <div class="container">
        <h1>{{ category.title }}</h1>
        <p>{{ category.description }}</p>

        <ul>

            {% for project in category.projects %}
                <li><h3>projet</h3>
                    <ul>
                        <li>{{ project.title }}</li>
                        <li>{{ project.description|raw }}</li>
                        <li>{{ project.prestatationDt|date('d/m/Y') }}</li>

                    </ul>
                </li>
                <li>
                    <h3>partners</h3>
                    <ul>
                        {% for partner in  project.partners %}
                            <li>{{ partner.firstname }} {{ partner.lastname }} ({{ partner.company.title }})</li>
                        {% else %}
                            <li><em>no partner</em></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <h3>clients</h3>
                    <ul>
                        {% for client in  project.clients %}
                            <li>{{ client.firstname }} {{ client.lastname }} ({{ client.company.title }})</li>
                        {% else %}
                            <li><em>no client</em></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <h3>technology</h3>
                    <ul>
                        {% for technology in  project.technologies %}
                            <li>{{ technology.title }}</li>
                        {% else %}
                            <li><em>no technology</em></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><em>no project</em></li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}